<section id="home">
    <div class="bootstrap-iso">
        <!-- Any HTML here will be styled with Bootstrap CSS -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Project name</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a ng-href="#/Login">log Out</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="../navbar/">Default</a></li>
                        <li><a href="../navbar-static-top/">Static top</a></li>
                        <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container">
            <!-- Main component for a primary marketing message or call to action -->
            <div class="jumbotron">
                <h1>Hello</h1>
                <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes
                    the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
                <p>To see the difference between static and fixed top navbars, just scroll.</p>
                <p>
                    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
                </p>
            </div>

            <!--REAL ME-->
            <!--<div class="row">
                <div class="col-md-4">
                    <div class="well">
                        <h3>Online Users</h3>
                        <ul class="list-group" id="users">
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <div class="" style="height: 250px" id="chat"></div>
                        <form id="messageForm">
                            <div class="form-group">
                                <label>Enter Message</label>
                                <textarea style="width: 100%" class="form-control" style="resize: none" rows="4" id="message"></textarea>
                                <br>
                                <input type="submit" class="btn btn-primary" value="Send Message">
                            </div>
                        </form>
                    </div>
                </div>
            </div>-->
            <!-- /container -->
            <!--<div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="well">
                        <h3>Online Users</h3>
                        <ul class="list-group" id="users">
                            
                        </ul>
                </div>
                <div class="col-md-8">
                    <div class="" style="height: 250px" id="chat"></div>

                    <form id="messageForm">
                        <div class="form-group">
                            <label>Enter Message</label>
                            <textarea style="width: 100px"  class="form-control" style="resize: none" rows="4" id="message"></textarea> 
                            <br>
                            <input type="submit" class="btn btn-primary" value="Send Message">
                        </div>
                    </form>
                </div>
            </div>
        </div>-->
            <script src="https://use.fontawesome.com/45e03a14ce.js"></script>
            <div class="main_section">
                <div class="container">
                    <div class="chat_container">
                        <div class="col-sm-3 chat_sidebar">
                            <div class="row">
                                <div id="custom-search-input">
                                    <div class="input-group col-md-12">
                                        <input type="text" class="  search-query form-control" placeholder="Conversation" />
                                        <button class="btn btn-danger" type="button">
                  <span class=" glyphicon glyphicon-search"></span>
                  </button>
                                    </div>
                                </div>
                                <div class="dropdown all_conversation">
                                    <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="fa fa-weixin" aria-hidden="true"></i>
               All Conversations
               <span class="caret pull-right"></span>
               </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <li><a href="#"> All Conversation </a>
                                            <ul class="sub_menu_ list-unstyled">
                                                <li><a href="#"> All Conversation </a> </li>
                                                <li><a href="#">Another action</a></li>
                                                <li><a href="#">Something else here</a></li>
                                                <li><a href="#">Separated link</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                                <div class="member_list">
                                    <ul class="list-unstyled">
                                        <li class="left clearfix">
                                            <span class="chat-img pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                     </span>
                                            <div class="chat-body clearfix">
                                                <div class="header_sec">
                                                    <strong class="primary-font">Jack Sparrow</strong> <strong class="pull-right">
                           09:45AM</strong>
                                                </div>
                                                <div class="contact_sec">
                                                    <strong class="primary-font">(123) 123-456</strong> <span class="badge pull-right">3</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="left clearfix">
                                            <span class="chat-img pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                     </span>
                                            <div class="chat-body clearfix">
                                                <div class="header_sec">
                                                    <strong class="primary-font">Jack Sparrow</strong> <strong class="pull-right ">
                           09:45AM</strong>
                                                </div>
                                                <div class="contact_sec">
                                                    <strong class="primary-font">(123) 123-456</strong> <span class="badge pull-right">3</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="left clearfix">
                                            <span class="chat-img pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                     </span>
                                            <div class="chat-body clearfix">
                                                <div class="header_sec">
                                                    <strong class="primary-font">Jack Sparrow</strong> <strong class="pull-right">
                           09:45AM</strong>
                                                </div>
                                                <div class="contact_sec">
                                                    <strong class="primary-font">(123) 123-456</strong> <span class="badge pull-right">3</span>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--chat_sidebar-->
                        <div class="col-sm-9 message_section">
                            <div class="row">
                                <div class="new_message_head">
                                    <div class="pull-left"><button><i class="fa fa-plus-square-o" aria-hidden="true"></i> New Message</button></div>
                                    <div
                                        class="pull-right">
                                        <div class="dropdown">
                                            <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-cogs" aria-hidden="true"></i>  Setting
    <span class="caret"></span>
  </button>
                                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                                <li><a href="#">Action</a></li>
                                                <li><a href="#">Profile</a></li>
                                                <li><a href="#">Logout</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--new_message_head-->
                                <div class="chat_area">
                                    
                                </div>
                                <!--chat_area-->
                                <div class="message_write">
                                    <textarea class="form-control" placeholder="type a message"></textarea>
                                    <div class="clearfix"></div>
                                    <div class="chat_bottom"><a href="#" class="pull-left upload_btn"><i class="fa fa-cloud-upload" aria-hidden="true"></i>
 Add Files</a>
                                        <a href="#" class="pull-right btn btn-success">
 Send</a></div>
                                </div>
                            </div>
                        </div>
                        <!--message_section-->
                    </div>
                </div>
            </div>
        </div>
</section>