<section id="home">
    <div class="bootstrap-iso">
        <!-- Any HTML here will be styled with Bootstrap CSS -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="well">
                        <h3>Online Users</h3>
                        <ul class="list-group" id="users">
                            
                        </ul>
                </div>
                <div class="col-md-8">
                    <div class="" style="height: 250px" id="chat"></div>

                    <form id="messageForm">
                        <div class="form-group">
                            <label>Enter Message</label>
                            <textarea style="width: 100px"  class="form-control" style="resize: none" rows="4" id="message"></textarea> 
                            <br>
                            <input type="submit" class="btn btn-primary" value="Send Message">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>